# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
venv/
ENV/
env/
.venv/

# Fichiers de configuration locaux
.env
.env.*

# Bases de données locales
*.sqlite3
*.db
instance/

# Docker
docker-compose.override.yml
Dockerfile
.dockerignore

# Fichiers de développement
.vscode/
.idea/

# MacOS
.DS_Store

# Fichiers de logs
*.log

# Fichiers temporaires
*.swp
*.swo
*~

# Fichiers de configuration de l'éditeur
.ropeproject/
.project
.pydevproject
.settings/

# Fichiers de cache
.cache/
.coverage
htmlcov/
